******
<!--<a routerLink="">test_1</a>-->

<!--<a routerLink="test3">test_3</a>-->

<!--<a routerLink="example1_car">example1_car</a>-->
<!--<a routerLink="example1_phone">example1_phone</a>-->

<!--<a routerLink="singleton">singleton</a>-->
<!--<a routerLink="it">injectToken</a>-->
<!--<br>-->
<!--******-->
<!--<a routerLink="view-enc-none">VE None</a>-->
<!--<a routerLink="view-enc-native">VE native</a>-->
<!--<a routerLink="view-enc-emulated">VE emulated</a>-->
<!--<br>-->
<!--<a routerLink="dec-ex1">decorator 1</a>-->
<!--<a routerLink="dec-ex2">decorator 2</a>-->
<!--<a routerLink="dec-json-prop">decorator Json property</a>-->
<a routerLink="template-ex1">temp 1</a>
<a routerLink="container-ex1">cont 1</a>
<a routerLink="ng-if">ng-if</a>
<a routerLink="spinner">spinner</a>
<a routerLink="template-for">temp for</a>
<br>


<router-outlet></router-outlet>


<!--<view-enc-example1></view-enc-example1>-->
